body {
	font-family: 'Open Sans', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
button {
  	padding: 0;
 	border: none;
  	font: inherit;
  	color: inherit;
  	background-color: transparent;
  	cursor: pointer;
}
li{
  	list-style: none;
  	text-decoration: none;
}
a{
	text-decoration: none;
  	color: #000;
  	outline: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}


/*  Шапка  */



.header {
  background-color: #fff;
}
.block_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
.title_header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
.subtitle_header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
.span_header {
  color: #EE5514;
}
.btn {
  width: 137px;
  height: 59px;
  background: #EE5514;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}


/* Первый блок    */

.background {
  background: linear-gradient(90deg, #ddd 1.14%, rgba(238, 85, 20, 0) 133.88%);
}
.all_block_one {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  position: relative;
}
.text_block_one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 300px 0px;
}
.title_block_one {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #1A0A03;
  margin-bottom: 35px;
} 
.apple_watch_span {
  color: #EE5514;
}
.airpods_span {
  color: #EE5514;
}
.subtitle_block_one {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.photo_all_block_one {
  padding-right: 20px;
  display: flex;
}
.photo_apple_watch {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.photo_airpods {
  z-index: 2;
  top: 60%;
  left: 80%;
  transform: translate(-60%, -60%);
  position: absolute;
  animation: 1s photo_airpods;
}
@keyframes photo_airpods {
  0% {
    margin-top: -500px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
.block_price {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1300px;
  height: auto;
  margin: -60px 20px 158px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 20px #000;
}
.sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px 20px;
}
.name_sale {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
  display: flex;
  align-items: flex-start;
}
.content_sale {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #1A0A03;
}
.old_sale {
  display: block;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(30%, -50%);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #EE5514;
  animation: 1s old_sale infinite;
}
@keyframes old_sale {
  50% {
    font-size: 22px;
  }
  100% {
    font-size: 16px;
  }
}
.btn_block_one {
  width: 137px;
  height: 59px;
  background: #EE5514;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy_block_one {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 955px) {
  .all_block_one {
    flex-direction: column;
  }
  .photo_apple_watch {
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text_block_one {
    padding: 30px 0px 380px 0px;
  }
  .photo_airpods {
    z-index: 2;
    top: 78%;
    left: 60%;
    transform: translate(-50%, -60%);
  }
  .block_price {
    flex-direction: column;
    margin: -60px 20px 30px 20px;
  }
  .btn_block_one {
    margin-bottom: 30px;
  }
  .title_block_one {
    font-size: 30px;
  }
}


/*  Второй блок   */



.block_two {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 158px;
}
.block_two_photo {
  padding-right: 30px;
}
.block_two_photo img {
  max-width: 100%;
  height: auto;
}
.block_two_title {
  width: 400px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}

/*  3 блок   */

.block_three {
  text-align: center;
  padding: 80px 20px 0px 20px;
  margin-bottom: 80px;
}
.title_block_three {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #1A0A03;
}
.cards_block_three {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 158px 20px;
}
.photo_card {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
.photo_card img {
  max-width: 100%;
  height: auto;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 460px;
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;
  cursor: pointer;
  transition: 1s all ease;
  padding-bottom: 30px;
}
.cards:hover{
  transform: scale(1.2);
  transition: 1s all ease;
}
.name_card {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #1A0A03;
  padding: 0px 20px;
}
.subtitle_name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #000;
  opacity: 0.7;
  margin-top: 30px;
  padding: 0px 20px;
}
@media (max-width: 1100px) {
  .cards_block_three {
    flex-direction: column;
    align-items: center;
  }
  .cards:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 927px) {
  .block_two_title {
    width: auto;
    padding-top: 20px;
  }
  .block_two {
    flex-direction: column;
  }
  .block_two_photo {
    padding-right: 0px;
  }
}





/*  4 блок  */



.background_block_four {
  margin-top: 158px;
}
.block_four {
  margin-bottom: 158px;
  padding: 0px 20px;  
}
.title_block_four {
  text-align: center;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #1A0A03;
}
.photo_and_text_block_four {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  margin-top: 80px;
}
.list {
  display: flex;
}
.number_list {
  padding: 10px 22px;
  margin: 0px 20px 10px 0px;
  border: 1px dotted #EE5514;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #000;
}
.block_text_number_list {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.title_number_list {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: left;
  color: #000;
  opacity: 0.9;
}
.subtitle_number_list {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ddd;
}
.btn_block_four {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 59px;
  background: #EE5514;
  border-radius: 5px;  margin: 0 auto;
}
.buy_block_four {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 805px) {
  .photo_and_text_block_four {
    flex-direction: column;
  }
  .photo_block_four {
    padding-bottom: 30px;
  }
}



/* Отзывы   */




.our {
  color: #EE5514;
}
.block_rewiew {
  padding: 0px 20px;
}
.title_rewiew {
  text-align: center;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #1A0A03;
  padding: 80px 0px;
}
.all_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photo_aftor {
  padding-bottom: 20px;
}
.card_rewiew {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
}
.name_aftor {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000;
  padding-bottom: 20px;
}
.rewiew {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #000;
  opacity: 0.9;
  margin-bottom: 80px;
}
@media (max-width: 805px) {
  .all_card {
    flex-direction: column;
    padding-right: 0;
  }
  .card_rewiew {
    height: auto;
    width: auto;
  }
}
@media (max-width: 471px) {
  .title_number_list {
    font-size: 15px;
  }
  .title_rewiew {
    font-size: 30px;
  }
  .subtitle_number_list {
    font-size: 13px;
  }
}

